<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCctX0cSEHnCJmLDWAmNKKtr2lz5qMgdh8</string>
	<key>GCM_SENDER_ID</key>
	<string>171766180938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.main</string>
	<key>PROJECT_ID</key>
	<string>travel-mate-76b5d</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-mate-76b5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171766180938:ios:1f581e76639565fc0d8ab3</string>
</dict>
</plist>